footer {
  background-color: var(--black0);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-top: 0.25rem solid var(--orange0);
}

.title,
.contact,
.social {
  color: var(--orange1);
  padding: 0.7rem 0;
  font-size: 0.9rem;
}

.mark,
.number {
  padding-bottom: 0.3rem;
  font-size: 0.7rem;
  color: var(--white);  
}
.socialmedia {
  display: flex;
  gap: 3rem;
}

.socialLogo1,
.socialLogo2{
    width: 1.8rem;
}

.owner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--white);
  font-size: 0.75rem;
}

.owner a {
  text-decoration: none;
  color: var(--white);
}
.lastName {
  color: var(--red0);
}
