section{
    position: relative;
}

.homeBanter{
    width: 100%;
    height: 100%;
}

.homeButton1,
.homeButton2{
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000d0;
    opacity: 90%;
    color: var(--white);
    padding: 0.4rem 0.2rem;
    border: 0.25rem solid var(--white);
    cursor: pointer;
    border-radius: 0.75rem;
    width: 4.5rem;
    font-size: 0.5rem;
}

.homeButton1{
    top:66%;
    left: 50%;
}

.homeButton2{
    top: 85%;
    left: 50%;
}

@media only screen and (min-width: 469px) {

    .homeButton1{
        top: 67%;
        width: 5.5rem;
        font-size: 0.8rem;
    }
    .homeButton2{
        top: 86%;
        width: 5.5rem;
        font-size: 0.8rem;
    }

}

@media only screen and (min-width: 599px) {

    .homeButton1{
        top: 74%;
        width: 6rem;
        font-size: 1rem;
    }
    .homeButton2{
        top: 88%;
        width: 6rem;
        font-size: 1rem;
    }

}

@media only screen and (min-width: 750px) {

    .homeButton1{
        top: 72%;
        width: 8rem;
        font-size: 1.3rem;
    }
    .homeButton2{
        top: 87%;
        width: 8rem;
        font-size: 1.3rem;
    }

}

@media only screen and (min-width: 949px) {

    .homeButton1{
        top: 75%;
        width: 8rem;
        font-size: 1.3rem;
    }
    .homeButton2{
        top: 87%;
        width: 8rem;
        font-size: 1.3rem;
    }

}
@media only screen and (min-width: 1020px) {

    .homeButton1{
        top: 79%;
        width: 8rem;
        font-size: 1.3rem;
    }
    .homeButton2{
        top: 90%;
        width: 8rem;
        font-size: 1.3rem;
    }

}