.productsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f8f9fa;
    
}

.productsList a{
    text-decoration: none;
    color: black;
}
.productsTitle{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 3.125rem;
    padding: 3.125rem 0rem;
}