@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); 

:root{
  --white: #fff;
  --black0: #212529;
  --orange0: #fda95b;
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

